<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="table-company">
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Show', company, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_company_path(company), class: 'btn btn-default', remote: true %></td>
        <td><%= link_to 'Destroy', company, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path, class: 'btn btn-lg btn-primary', id: 'btn-new-company', remote: true %>
